@import "./colorsheet.css";

section h1, section p {
    height: auto;
    width: 100%;
    font-size: 3rem;
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    margin-inline: auto;
}

section {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

@media (max-width: 600px) {
  section {
      grid-template-columns: 1fr;
      padding: 1rem;
      margin: 1rem;
  }

  h1, p {
      padding: 0.5rem;
      margin: 0.5rem;
      font-size: 1rem;
      /* width: max-content; */
      margin-inline: auto;
  }
}

section > * {
    border: var(--border) 5px groove;
    align-content: center;
    margin: 0;
}

progress {
  height: 15px;
  border-radius: 20px;
  width: 95%;
  margin: 10px;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--border);
  border-radius: 20px;
}

progress[value]::-webkit-progress-value {
  border-radius: 20px;
  background-image: linear-gradient(to right, var(--primary), var(--secondary), var(--accent));
}

.progress-container {
    border-radius: 20px;
    height: 100%;
}

label {
  font-size: clamp(1rem, 6vw, 2rem);
}