/* Inter Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root { 
    --text-main: #D3D3D3;
    --text-alt: #100C08;
    --background: #0A0F29; 
    --primary: #2F27CE;
    --secondary: #1FB6FF;
    --accent: #8A2BE2;
    --border: #FFFFFF;
    
    --button-main: var(--primary);
    --button-secondary: var(--accent);
    --button-text-main: var(--text-main);
    --button-text-secondary: var(--text-main);
}

:root:has(#theme-dark:checked) {
    --text-main: #D3D3D3;
    --text-alt: #100C08;
    --background: #0A0F29; 
    --primary: #2F27CE;
    --secondary: #1FB6FF;
    --accent: #8A2BE2;
    --border: #FFFFFF;

    --button-main: var(--primary);
    --button-secondary: var(--accent);
    --button-text-main: var(--text-main);
    --button-text-secondary: var(--text-main);
}

:root:has(#theme-light:checked) {
    --text-main: #000000;
    --text-alt: #D3D3D3;
    --background: #DEDEDE; 
    --primary: #6473C1;
    --secondary: #787878;
    --accent: #200861;
    --border: #4040a0;

    --button-main: var(--primary);
    --button-secondary: var(--accent);
    --button-text-main: var(--text-main);
    --button-text-secondary: var(--text-alt);
}

:root:has(#theme-blue:checked) {
    --text-main: #D3D3D3;
    --text-alt: #000000;
    --background: #106F97; 
    --primary: #0823AB;
    --secondary: #F30202;
    --accent: #CEF046;
    --border: #82829e;

    --button-main: var(--primary);
    --button-secondary: var(--accent);
    --button-text-main: var(--text-main);
    --button-text-secondary: var(--text-alt);
}

:root:has(#theme-red:checked) {
    --text-main: #FDF0D5;
    --text-alt: #FFFFFF;
    --background: #780000; 
    --primary: #C1121F;
    --secondary: #003049;
    --accent: #669BBC;
    --border: #39a0df;

    --button-main: var(--primary);
    --button-secondary: var(--accent);
    --button-text-main: var(--text-main);
    --button-text-secondary: var(--text-main);
}

:root:has(#theme-green:checked) {
    --text-main: #003f00;
    --text-alt: #F2E8CF;
    --background: #6A994E; 
    --primary: #A7C957;
    /* --secondary: #BC4749; */
    --secondary: #DA2326;
    --accent: #386641;
    --border: #ffbc03;

    --button-main: var(--primary);
    --button-secondary: var(--accent);
    --button-text-main: var(--text-alt);
    --button-text-secondary: var(--text-main);
}