@import "colorsheet.css";

h1 {
    font-size: 3rem;
    position: relative;
    margin: 2vw;
    padding: 2vw;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--background);

    a {
        font-size: inherit;
        color: var(--primary);
        text-decoration: none;
        transition: color 500ms;
        position: relative;
        display: inline-block;

        span {
            color: var(--text);
            font-size: inherit;
        }
    }

    a:hover, a:focus {
        color: var(--accent);
    }

    a::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 0%;
        background-color: var(--accent);
        /* display: inline; */
        transition: width 500ms ease;
    }

    a:hover::before, a:focus::before{
        height: 2px;
        width: 96%;
    }
}