@import "./colorsheet.css";

#welcome-banner {
    font-size: clamp(1rem, 8vw, 3rem);
    position: relative;
    box-sizing: border-box;
    background-color: var(--background);

    a {
        font-size: inherit;
        color: var(--primary);
        text-decoration: none;
        transition: color 500ms;
        position: relative;
        display: inline-block;

        span {
            color: var(--text-main);
            font-size: inherit;
        }
    }

    a:hover, a:focus {
        color: var(--accent);
    }

    a::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 0%;
        background-color: var(--accent);
        transition: width 500ms ease;
    }

    a:hover::before, a:focus::before{
        height: 2px;
        width: 96%;
    }
}

h2 {
    margin: 1rem;
    font-size: clamp(1rem, 6vw, 2.5rem);
    p {
        font-size: inherit;
        display: inline-block;
    }
}

#clocklink {
    font-size: clamp(0.8rem, 0.8rem,1.2rem);
    color: var(--text-main);
    transition: color 500ms;
}

#clocklink:hover, #clocklink:focus {
    color: var(--accent);
}