@import "/css/colorsheet.css";

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-display: swap;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text-main);
}

.top-card, .main-section {
    font-size: 3rem;
    height: fit-content;
    padding: 3rem;
    margin: 3rem;
    background-color: var(--background);
    border-radius: 1rem;
    position: relative;
    align-content: center;
    text-align: center;
}

@media (max-width: 750px) {
    .main-section {
        padding: 1rem;
    }
}

.glow-border {
    position: relative;
}

.glow-border::before, .glow-border::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background-image: conic-gradient(from var(--gradient-angle), var(--primary), var(--secondary), var(--accent), var(--border), var(--primary));
    border-radius: inherit;
    animation: rotation 8s linear infinite;
    z-index: -99;
}

.glow-border::after {
    filter: blur(0.5rem);
}

@media (max-width: 600px) {
    .grid-abutton-container {
        grid-template-columns: 1fr;
    }

    .top-card, .main-section {
        font-size: 2rem;
    }
}

.grid-abutton-container {
    display: grid;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}


.grid-abutton, .abutton{
    cursor: pointer;
    text-decoration: none;
    color: var(--button-text-main);
    border-radius: 1rem;
    margin: 0rem 2rem;
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px 3px var(--button-main);
    transition: box-shadow 500ms;
}

.grid-abutton {
    font-size: 1.8rem;
    padding: 1.5rem;

}

.abutton {
    font-size: 1.5rem;
    padding: 1rem;
    display: block;
    margin-inline: auto;
    max-width: max-content;
}

.grid-abutton:hover, .abutton:hover{
    color: var(--button-text-secondary);
    box-shadow: 0 0 10px 3px var(--button-secondary);
}

.grid-abutton::before, .abutton::before, .grid-abutton::after, .abutton::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
    transition: transform 500ms ease;
}

.grid-abutton::before, .abutton:before {
    top: 0;
    left: 0;
    background-color: var(--button-main);
}

.grid-abutton::after, .abutton::after {
    transform: scaleX(0) scaleY(0);
    bottom: 0;
    left: 0;
    background-color: var(--button-secondary);
}

.grid-abutton:hover::after, .abutton:hover::after {
    transform: scaleX(1) scaleY(1);
}

.cards {
    /* border: 2px solid magenta; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    margin: 2rem;
    padding: 2rem;
}

.card {
    background-color: var(--primary);
    /* height: 400px; */
    border-radius: 2rem;
    text-align: center;
    width: 100%;
    transition: background-color 0.5s ease;
}

.card:hover {
    background-color: var(--accent);
}

.card h2 {
    font-size: 2rem;
    margin: 1rem;
}

.card img {
    width: calc(100% - 2rem);
    aspect-ratio: 5 / 4;
    border-radius: 2rem;
    margin-inline: auto;
}

.card a, .card p {
    color: var(--text-main);
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    margin: 1rem;
}