@import "/css/colorsheet.css";

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-display: swap;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text-main);
}

.top-card, .main-section {
    font-size: 3rem;
    height: fit-content;
    padding: 3rem;
    margin: 3rem;
    background-color: var(--background);
    border-radius: 1rem;
    position: relative;
    align-content: center;
    text-align: center;
}

.glow-border {
    position: relative;
}

.glow-border::before, .glow-border::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background-image: conic-gradient(from var(--gradient-angle), var(--primary), var(--secondary), var(--accent), var(--border), var(--primary));
    border-radius: inherit;
    animation: rotation 8s linear infinite;
    z-index: -99;
}

.glow-border::after {
    filter: blur(0.5rem);
}

.abutton-container {
    display: grid;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

@media (max-width: 600px) {
    .abutton-container {
        grid-template-columns: 1fr;
    }

    .top-card, .main-section {
        font-size: 2rem;
    }
}

.abutton {
    cursor: pointer;
    text-decoration: none;
    color: var(--button-text-main);
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 0rem 2rem;
    flex-grow: 1;
    text-align: center;
    align-content: center;
    position: relative;
    display: inline-block;
    font-size: 1.8rem;
    box-shadow: 0 0 10px 3px var(--primary);
    transition: box-shadow 500ms;
}

.abutton:hover {
    color: var(--button-text-secondary);
    box-shadow: 0 0 10px 3px var(--accent);
}

.abutton::before, .abutton::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
    transition: transform 500ms ease;
}

.abutton::before {
    top: 0;
    left: 0;
    background-color: var(--primary);
}

.abutton::after {
    transform: scaleY(0);
    bottom: 0;
    left: 0;
    background-color: var(--accent);
}

.abutton:hover::after {
    transform: scaleY(1);
}