@import url(colorsheet.css);

#game-area {
    width: fit-content;
    height: fit-content;
    margin-inline: auto;
    padding: 3rem;
    background-color: var(--background);
    border-radius: 1rem;
}

#board {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    gap: 1px;
}

.board-row {
    display: flex;
    justify-content: center;
}

.cell {
    user-select: none;
    background-color: var(--background);
    outline: 3px outset var(--border);
    outline-offset: -2px;
    text-align: center;
    align-content: center;
    font-size: clamp(4px, 0.2rem + 1.1vw, 3rem);
    color: var(--text-main);
    z-index: 1;
}

.cell-revealed-mine {
    background-color: var(--accent);
    font-size: calc(clamp(4px, 0.1rem + 1.2vw, 3rem) * 1.5);
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-alt);
}

.cell-revealed-clear {
    background-color: var(--primary);
    outline: 1px solid var(--border);
    outline-offset: 0;
    z-index: 0;
}

#dimension-x, #dimension-y {
    text-align: center;
    width: 75px;
    background-color: var(--background);
    color: var(--text-main);
    border: 2px outset var(--border);
}

#reset-button {
    /* margin-inline: auto; */
    padding: 0.5rem;
    height: 100%;
    aspect-ratio: 1/1;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    outline: 5px outset var(--border);
    outline-offset: -4px;
    cursor: pointer;
    user-select: none;
}

#reset-button:active {
    background-color: var(--primary);
    outline-color: var(--accent);
    outline-width: 8px;
    outline-offset: -7px;
}

#mine-probability {
    display: inline-flex;
    flex-direction: column;
    border: 2px outset white;
    padding: 0.5rem;
    margin-inline: 1rem;
}

#bottom-controls {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#top-controls {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#mine-counter, #flag-counter {
    width: 200px;
    text-align: center;
    font-size: 2rem;
    outline: 5px outset var(--border);
    outline-offset: -4px;
    padding: 1rem;
}

.game-won {
    color: #0f0;
}

.game-lost {
    color: #f00;
}

.instructions-text {
    text-align: center;
    max-width: 600px;
    margin-inline: auto;
}