@import "colorsheet.css";

nav {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    transition: grid-template-columns 500ms ease;
    justify-content: space-around;
    position: sticky;
    background-color: var(--background);

    a {
        font-size: clamp(12px, 3vw, 1.3rem);
        position: relative;
        flex-grow: 1;
        text-align: center;
        padding: 10px;
        color: var(--text);
        border-bottom: var(--secondary) 3px solid;
        text-decoration: none;
        transition: color 500ms;
        align-content: center;
    }

    a:hover, a:focus {
        color: var(--accent);
        border-bottom: var(--accent) 2px solid;
    }

    a::before, a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 0%;
        background-color: var(--accent);
        transition: width 500ms ease;
    }

    a:hover::before, a:focus::before, a:hover::after, a:focus::after {
        height: 2px;
        width: 100%;
    }

    a::after {
        filter: blur(1.5rem);
    }

    .navlogo {
        border-bottom: var(--secondary) 3px solid;
        img {
            width: clamp(10px, 5vw, 50px);
            height: auto;
            /* inset: 0; */
        }
    }
}

@media (max-width: 900px) {
    nav {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 500px) {
    nav {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .navhome {
        display: none;
    }
}