@import "/css/colorsheet.css";

#game-area {
    background-color: var(--background);
    /* background-color: white; */
    margin-inline: auto;
    display: grid;
    /* grid-template-columns: 100px 1fr 30px; */
    /* grid-template-rows: 80px 150px 5fr 30px; */
    grid-auto-rows: 80px auto 1fr auto;
    grid-auto-columns: 1fr 1fr 1fr;
    width: fit-content;
    height: fit-content;
    /* border: var(--border) 5px solid; */
    border-radius: 1rem;
    position: relative;
}

#game-area button {
    border-radius: 1rem;
    margin: 1rem;
    cursor: pointer;
    border-color: var(--border);
    color: var(--button-text-main);
    background-color: var(--button-main);
}

#game-area button:hover {
    background-color: var(--button-secondary);
    color: var(--button-text-secondary);
}

#game-header {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    background-color: var(--primary);
    border-radius: calc(1rem - 5px) calc(1rem - 5px) 0 0;
}

#board {
    width: fit-content;
    height: fit-content;
    margin-inline: auto;
    /* align-self: center; */
    border: 3px solid var(--accent);
    background-color: var(--background);
}

.game-area-row {
    min-height: 20px;
    grid-column: span 3;
    display: flex;
    justify-content: center;
}

.nonoCellRow {
    justify-content: center;
    margin-inline: auto;
}

.nonoCellOn {
    background-color: var(--accent);
    border: 1px solid var(--background);
}

.nonoCellOff {
    background-color: var(--background);
    border: 1px solid var(--accent);
}

.nonoCellXed {
    background-color: var(--background);
    border: 1px solid var(--accent);
    color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    user-select: none;
}

.clue {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    color: var(--accent);
}

.clue-number-left {
    text-align: right;
    line-height: 40px;
    overflow-x: auto;
}

.clue-number-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;
    overflow-y: auto;
    width: 40px;
}

.clue-solved {
    opacity: 0.2;
}

#top-clues {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    /* padding-left: 70px; */
}

#bottom-clues {
    border-radius: 0 0 1rem 1rem;
}

#top-clues, #bottom-clues {
    min-height: 80px;
}

#left-clues, #right-clues {
    display: flex;
    flex-direction: column;
    min-width: 80px;
    width: fit-content;
    margin-inline: 1rem;
    height: 100%;
}

.empty {
    background-color: var(--background);
}

#solved, #timer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--button-text-main);
}

#solved {
    font-size: 1.2rem;
    width: fit-content;
    justify-self: center;
    padding-right: 1rem;
}

#timer {
    font-size: 2rem;
    font-family: monospace;
}

#bottom-clues {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

#selection-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    flex-direction: column;
}

#size-slider {
    width: 100%;
}